 * {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: #0f212e;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 14px 28px rgba(0, 0, 0, 0.22);
    background-image: url(low-poly-grid-haikei.svg);
}

.main {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
    height: 80%;
    max-width: 1200px;
    min-height: 480px;
    background-color: #2f4553;
    border-radius: 10px;
    overflow: hidden;
}

.sidebar {
    background-color: #1b2a34;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar form {
    width: 100%;
}

.sidebar input, .sidebar select {
    color: white;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #2f4553; 
    outline: none;
    background-color: #0f212e;
}

.sidebar button {
    color: #0f212e;
    background-color: #00e701;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px;
    margin: 16px 0;
    width: 100%;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.sidebar h2 {
    color: white;
    margin-top: 20px;
}

.sidebar h1 {
    color: white;
}

.content {
    background-color: #0f212e;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1%;
    margin: 1%;
    padding: 3%;
    width: 70%;
    align-items: center;
    justify-content: center;
    padding-top: 1.1%;
    padding-left: 1%;
    padding-right: 1%;
}

.boxes {
    background-color: #2f4553;
    border-radius: 0.3rem;
    overflow: hidden;
    position: relative;
    padding-top: 85%; 
    box-sizing: content-box;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.boxes:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}


.diamond, .bomb {
    height: 100%;
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.appearIngrid {
    visibility: visible;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.heading p {
    color: white;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .sidebar, .content {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 480px) {
    .sidebar input, .sidebar select, .sidebar button {
        font-size: 0.8rem;
    }
}

